$color: black;
$color-txt:#fff;
$color-primary:#9356dc;
$color-secondary: #ff79da;
$color-tertiaire: #99e2D0;





body, html{
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    &.title{
    display: block;
    font-family: 'Shrikhand', cursive;
    font-size: 6em;
    text-align: center;
}
}
.container{
    background-color: rgb(194, 190, 190);
    text-align: center;
    height: 150px;
    & p{
        font-size: 4em;
        padding-top: 25px;
    }
    & .fa-map-marker-alt{
        display: block;
        position: absolute;
        left: 180px;
    }
}
footer{
    background-color: gray;
    height: 500px;
}
