$color: black;
$color-txt:#fff;
$color-primary:#9356dc;
$color-secondary: #ff79da;
$color-tertiaire: #99e2D0;
$bg-color: rgb(216, 209, 209);


@mixin shadow-box{
    box-shadow: inset 0px 10px 10px darken($bg-color, 15%);
}
#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 200px;
    height: 200px;
    border:  solid 4px transparent;
    border-top-color:  #00C8B1 !important;
    border-left-color: #00C8B1 !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0%   { 
    transform: rotate(0deg);   
    transform: rotate(0deg);
}
  100% { 
    transform: rotate(360deg); 
    transform: rotate(360deg);
}
}


body, html{
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    &.title{
    display: block;
    font-family: 'Shrikhand', cursive;
    font-size: 6em;
    text-align: center;
}
}
.container{
    background-color: $bg-color;
    height: 150px;
    display: flex;
    @include shadow-box;

    & p{
        font-size: 3em;
    }
    & .fa-map-marker-alt{
        display: block;
        position: absolute;
        left: 250px;
    }
    & a{
        display: block;
        position: absolute;
        left: 320px;
        text-decoration: none;
        color: black;
    }
}
.txt{
    text-align: center;
    font-size: 2em;
    & p{
        font-size: 1.5em;
    }
}
.btn{
    text-align: center;
    & .explored{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    border-radius: 55px;
    background-color: $color-secondary;
    box-shadow: inset -86px -112px 42px -78px rgba(147,86,220,0.63);
}
& .explored:active{
    box-shadow: inset -86px -112px 42px 7px rgba(147,86,220,0.63);}
}

footer{
    background-color: gray;
    height: 500px;
}
