$color: black;
$color-txt:#fff;
$color-primary:#9356dc;
$color-secondary: #ff79da;
$color-tertiaire: #99e2D0;
$bg-color: #eaeaea;


@mixin shadow-box{
    box-shadow: inset 0px 10px 10px darken($bg-color, 15%);
}
@mixin box-shadow {
    box-shadow: 0px 3px 5px 2px darken(#f6f6f6, 10%);
}
@mixin color {
    background-color: #f5edff;
}
@mixin newcolor {
    color: darken($color-tertiaire, 40%);
}
@mixin placementimage {
  width: 318px;
  height: 174px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0px 0px;
}
body, html{
    padding: 0;
    margin: 0;
}
body, main{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.loader {
    position: relative;
    top: 33%;
    right: 18%;
    border-radius: 50%;
    border: 6px solid #99e2d0;
    width: 64%;
    height: 32%;
    animation: fadeout 3s linear;
  }
  
  .loader::after {
    content: "";
    position: relative;
    top: -6px;
    left: -6px;
    width: 100%;
    height: 100%;
    border: 6px solid transparent;
    border-top-color: white;
    border-radius: 50%;
    animation: spin 3s linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      position: absolute;
    }
    90%{
      position: absolute;
    }
    100% {
      transform: rotate(360deg);
      display: none;
    }
  }
  @keyframes fadeout {
    0% {
      opacity: 1;
      position: absolute;
    }
    90% {
      opacity: 1;
      position: absolute;
    }
    100% {
      opacity: 0;
    }
  }
h1{
    &.title{
    display: block;
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
    text-align: center;
}
}
.container{
    background-color: $bg-color;
    height: 50px;
    @include shadow-box;
    width: 100%;
    & p{
        display: flex;
        font-size: 1em;
        flex-direction: row;
        margin-left: 95px;
        padding-top: 15px;
    }
    & a{
        text-decoration: none;
        color: black;
    }
}
.fa-map-marker-alt{
  margin-right: 20px;
}
.textButton{
  background-color: #f6f6f6;
  height: 280px;
}
.txt{
    text-align: center;
    font-size: 1.2em;
    font-weight: 900;
    & p{
        font-size: 0.9em;
        font-weight: 100;
    }
}
.btn{
    text-align: center;
    cursor: pointer;
    & .explored{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    border-radius: 55px;
    background-color: $color-secondary;
    box-shadow: inset -86px -112px 42px -78px rgba(147,86,220,0.63);
}
& .explored:active{
    box-shadow: inset -86px -112px 42px 7px rgba(147,86,220,0.63);}
}
.titre{
    text-align: start;
    font-size: 1.1em;
    font-weight: 900;
    margin: 20px;
}
.tuto{
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    & li{    
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        border-radius: 20px;
        width: 300px;
        height: 60px;
        margin: 20px;
        margin-left: 35px;
        margin-bottom: 40px;
        @include box-shadow;
    }
}
.tuto li:hover{
    @include color;
    & .fa-mobile-alt{
        color: $color-primary;
    }
    & .fa-list-ul{
        color: $color-primary;
    }
    & .fa-store{
        color: $color-primary;
    }
}


.number{
    border-radius: 80px;
    border: solid 2px $color-primary;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    z-index: 1;
    background-color: $color-primary;
    color: white;
    & p{
      display: flex;
      margin: 0;
      padding-left: 5px;
    }
}
.fa-mobile-alt{
    color: gray;
    margin-left: 30px;
    margin-right: 38px;
}

.fa-list-ul{
    color: gray;
    margin-left: 30px;
    margin-right: 38px;
}
.fa-store{
    color: gray;
    margin-left: 30px;
    margin-right: 38px;
}
.carte{
  & h2{
    padding-left: 20px;
  }
  & a{
    text-decoration: none;
    color: black;
  }
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 20px;
}
.restaurant{
  width: 318px;
  height: 248px;
  margin-left: 15px;
  background-color: #fff;
  margin-bottom: 10%;
  border-radius: 15px;
  @include box-shadow();
  & p{
    margin-left: 10px;
    margin-top: 0px;
    font-size: 0.9rem;
  }
}
.imagejay{
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  @include placementimage;
}
.imagestil{
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  @include placementimage;
}
.imagetoa{
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  @include placementimage;
}
.imagelouis{
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  @include placementimage;
}
.name{ 
  & p{
    font-weight: 900;
  }
}
.ville{
  & p{
    font-weight: normal;
    margin-top:-12px;
  }
}
.new{
  display: flex;
  float: inline-end;
  margin-top: 25px;
  margin-right: 20px;
  padding: 5px;
  background-color: $color-tertiaire;
  @include newcolor;
}

.cont{
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 40px;
  margin-top: 20px;
}
.heart-color{
  position: absolute;
  opacity: 0;
  transition: 1s ease;
  &:hover{
    cursor: pointer;
    opacity: 1;
    transform: scale(1);
    background: -webkit-linear-gradient($color-primary, $color-secondary);
    background-clip: text;
    -webkit-text-fill-color: transparent;    
    &.heart{
      transform: scale(0);
      opacity: 0;
      -webkit-text-stroke: 1px;
      color: transparent;
    }
  }
}
.heart{
  position: absolute;
  opacity: 1;
  transition: 1s ease;
}








  footer {
    width: 100%;
    background-color: #303030;
    color: white;
    margin-top: -15px;
    padding-bottom: 20px;
  } 
  footer a{
    text-decoration: none;
    color: white;
  }
  footer li {
    list-style-type: none;
    line-height: 30px;
  }
  footer>h2{
    font-family: 'Shrikhand', cursive;
    font-size: medium;
    margin-left: 20px;
    padding-top: 20px;
  }
.fa-hands-helping{
  font-size: 12px;
  margin-right: 8px;
  margin-left: -20px;
}
.outil{
  font-size: 15px;
  margin-right: 10px;
  margin-left: -20px;
}

